@import "tailwindcss";

@theme {
    --color-primary: #239bc3;
    --color-secondary: #d7f5ff;
    --color-hover-link: #42a9cb;

    --background-image-hero-building: url("/src/assets/images/hero-building.jpg");
    --background-image-illustrationInversed: url("/src/assets/images/illustrationdronevol2.png");
    --background-image-illustration: url("/src/assets/images/illustrationdronevol1.png");
}

.clip-hexagon {
    clip-path: polygon(25% 10%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }